/* GENERALES  */
@import url('https://fonts.googleapis.com/css?family=Nova+Flat');

* {
  box-sizing: border-box;
}

html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

body {
  background: url(http://i65.tinypic.com/fyfy8l.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;


}

header {
  width: 100%;
  height:30%;
  margin:5% 0;
}



h1 {
  color: #0431B4;
  font-family: 'Nova Flat', cursive;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  /*  background: #000000;*/
  line-height: 100px;
  letter-spacing: 15px;
  /*word-spacing: 20px;*/
  text-shadow: #58E590 8px 8px 2px;
}


div {
  text-align: center;
  font-family: 'Nova Flat', cursive;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 95% 95%;
}



button {
  margin-bottom: 100%;
  width: 10%;
  padding: 1em;
  border-radius:20px;
  box-sizing: border-box;
}

button[type="submit"] {
  margin-bottom: 0;
  background: #1668c4;
  color: #fff;
  border: none;

}

button[type="submit"]:hover {
  background: #4A88F4;
  cursor: pointer;
}


/* IDs y CLASES */


.tarjeta{
  width: 25%;
  background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
  padding: 0%;
  border-radius:30px;
  display: inline-block;
}

#root {
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

}

.hide {
  display: none;
}


.topnav {
  overflow: hidden;

}
.topnav nav {
  width:100%;
  outline: 20%;
  font-style: normal;
  font-size: 3em;
}

ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  width: 100%;
  background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
  display: flex;

}

li {
  padding: 10px 0px;
  /* float: left;*/
  color: #F4ECF7;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  text-align: center;
}

li.dropdown {
  display: inline-block;
}


/*   */
.dropdown-content {
  display: none;
  font-family: 'Nova Flat', cursive;
  position: absolute;
  align-content: center;
  background-color: #3498DB;
  min-width:245px;  max-width:400px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

}

.dropdown-content a {
  color:white;
  padding:12px 16px;
  text-decoration: inherit;
  display: block;
  text-align: center;

}

.dropdown-content a:hover {
  background-color: #154360;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.style-input{
  width: 10%;
  padding: 1em;
  border-radius:5px;
  border-right-style: groove;
  background-color: white;
  margin-bottom: 10%;
  box-sizing: border-box;


}





a {
  text-decoration: none;
  color: #F4F6F7;
  display:flow-root;
}

a:hover {
  background: #154360;
}

span {
  color: black;
  font-size: 2em;
}

main {
  width:70%;
  background: #ffff;
  padding: 20%;
  display: block;
  box-sizing: border-box;

}

.row div{
  margin-bottom: 100%;
      width: 30%;
      padding: 20%;
      box-sizing: border-box;
}


@media only screen and (min-width: 0px) and (max-width: 360px) {
  .tarjeta{
    width: 100%;
    display: block;
    text-align: center;
  }
}



/* For mobile phones: GALAXY 5S */
@media only screen and (min-width: 360px) and (max-width: 640px) {
  .tarjeta{
    width: 70%;
    display: block;
    text-align: center;
  }
}

/* PENDOENTEEE The "responsive" class is added to the navBar with JavaScript when the user clicks on the icon. This class makes the navBar look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .navBar.responsive {
    position: relative;
  }

  .navBar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navBar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

@media (max-width: 999px) and (min-width: 320px) {
  .logo-style {
    position: relative;
    left: 0%;
    display: block;
    margin: 0 auto;
    max-width: 100vw;
    width: 50vw;
  }

  .buttons-style {
    margin-top: 70px;
  }
}

@media (max-width: 999px) and (min-width: 768px) {
  .logo-style {
    position: relative;
    left: 0%;
    display: block;
    margin: 0 auto;
    max-width: 100vw;
    width: 50vw;
  }

  .buttons-style {
    margin-top: 30px;
  }

}
